<!DOCTYPE html>
<html 
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Curso App</title>
</head>

<body>
	<h1> Cadastro de Cursos </h1>
	
	<form action="" method="POST">
		Nome: <input type="text" value="" name="nome" id ="nome"/>
		Local: <input type="text" value="" name="local" id ="local"/>
		Data: <input type="date" value="" name="data" id ="data"/>
		Horário Inicio: <input type="time" value="" name="HoraInicio" id ="HoraInicio"/>
		Horário Fim: <input type="time" value="" name="horaFim" id ="horaFim"/>
		
		<button type="submit"> Salvar </button>
</body>

</html>